* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-image:
}

.slide-container {
    width: 60%;
    border: 5px solid #000000;
    margin: auto;
    overflow: hidden;
}

.my-slides {
    width: 100%;
    height: 500px;
    display: flex;
}

.my-slides img {
    width:  100%;
    height: 100%;
}

#prevBtn {
    left: 22%;
    position: absolute;
    top: 35%;
    z-index: 5;
    cursor: pointer;
}

#nextBtn {
    right: 22%;
    top: 35%;
    position: absolute;
    z-index: 5;
    cursor: pointer;
}

button {
    width: 25px;
    border-radius: 20px;
    height: 50px;
    background-color: #ffffff;
    opacity: 0.5;
    border: thin;
}
